:host {
    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        gap: 1rem;

        a {
            display: block;
            width: 10rem;
            height: 10rem;

            border-radius: .5rem;
            background-color: #2e2f33;
        }
    }
}