:host {
    .footer-container {
        display: flex;
        flex: 1 auto 1;
        justify-content: space-between;
        align-items: center;

        button {
            zoom: .8;
        }
    }
}
