@if (!this._service.bookmarks) {
    <p style="text-align: center;">No bookmarks found</p>
}
@else {
    <div class="md bookmark-bar">
        <ng-container *ngTemplateOutlet="Recursion; context: { list: this._service.bookmarks }"></ng-container>
        <ng-template #Recursion let-list="list">
            <ng-container *ngFor="let $item of list">
                <ng-container *ngIf="$item.type=='folder'">
                    <div class="md-table">
                        <div matRipple class="md-row md-folder" (click)="this.$item.expanded=!$item.expanded">
                            <div class="md-item-expand">
                                <button mat-icon-button *ngIf="$item.expanded==false">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <button mat-icon-button *ngIf="$item.expanded==true">
                                    <mat-icon>remove</mat-icon>
                                </button>
                            </div>
                            <div class="md-item-title">{{ $item.title }}</div>
                        </div>
                        <div class="md-folder-exploded" *ngIf="$item.expanded==true && !!$item.children && $item.children.length>0">
                            <!-- <pre>{{$item | json}}</pre> -->
                            <ng-container *ngTemplateOutlet="Recursion; context: { list: $item.children }"></ng-container>
                        </div>
                    </div>
                </ng-container>
                
                <ng-container *ngIf="$item.type=='bookmark'">
                    <div matRipple class="md-table" (click)="this.navigateTo($item.url)">
                        <div class="md-row">
                            <div class="md-item-icon">
                                <img [src]="$item.iconSrc" [alt]="$item.title">
                            </div>
                            <div class="md-item-title">
                                {{$item.title}} 
                                <!-- <label class="opacity">{{$item.url}}</label> -->
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </ng-template>
    </div>

    <div class="toolbar">
        <button mat-icon-button (click)="this.editBookmarks()">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
}